<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.plan.dao.CustomerInfoMapper" >
  <insert id="add" parameterType="com.example.plan.entity.CustomerInfo">
    INSERT INTO customer(username,usersexes,userages,education,positions,company,income,spouse_income,family_assets,hose_property,number_cars,car_brand,currents,regular,financing,shares,loan,heart_disease,type_investment,carer_spouses,family_pillar,power,number_sons,number_daughter,whether_bought,purpose_insurance,precast,recently_spend,enterprise_assets)  VALUES (#{username},#{usersexes},#{userages},#{education},#{positions},#{company},#{income},#{spouse_income},#{family_assets},#{hose_property},#{number_cars},#{car_brand},#{currents},#{regular},#{financing},#{shares},#{loan},#{heart_disease},#{type_investment},#{carer_spouses},#{family_pillar},#{power},#{number_sons},#{number_daughter},#{whether_bought},#{purpose_insurance},#{precast},#{recently_spend},#{enterprise_assets})
  </insert>

  <select id="findCustomer" resultType="com.example.plan.entity.CustomerInfo">
    SELECT * FROM customer
  </select>

  <select id="findOne" resultType="com.example.plan.entity.CustomerInfo">
    SELECT * FROM customer WHERE username=#{param1}
  </select>
</mapper>