<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sy.dao.DisabuseInfoMapper" >

    <select id="allDisabuse" parameterType="com.example.plan.entity.DisabuseInfo">
        SELECT * FROM  disabuse
    </select>

    <select id="findAllProblem" parameterType="com.example.plan.entity.DisabuseInfo">
        SELECT problem FROM disabuse
    </select>

    <select id="findAnswer" parameterType="com.example.plan.entity.DisabuseInfo">
        SELECT answer FROM disabuse WHERE problem=#{problerm}
    </select>
</mapper>